<!DOCTYPE html>
 <html>
   <head> <meta charset="utf-8" />
      <title> NOTRE PFE  </title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/PFE.css">
    </head>
  <body>
    <div class="head"> <h1> Serveur OAI-PMH </h1></div>
    <div class="menu"> 
      <ul>
      	<li><a href="">Généralité></a></li>
      	<li><a href="">Enr.par.ens(complet)></a></li>
      	<li><a href="">Enr.par.ens(entete)></a></li>
      	<li><a href="">Enr.par.formats></a></li>
      	<li><a href="PFE.html">verbes OAI></a></li>
      </ul>
     </div></br>


 vous etes ici: ORI-OAI-Repository # Verbes OAI-PMH </br></br>
 
 <h1> > Verbes OAI-PMH </h1>
        
      <div class="verb"> 
      verbes : <ul>
        <li><a href="http://localhost:3000/users/identify">Identify</a></li>
        <li><a href="http://localhost:3000/users/Lformat">LMdFormats</a></li>
        <li><a href="http://localhost:3000/users/listsets">Listsets</a></li>
        <li><a href="http://localhost:3000/users/listrecords">ListRecord</a></li>
        <li><a href="http://localhost:3000/users/getrecord">GetRecord</a></li>
      </ul>
     </div></br>

     Identify : </br>

     <div class="wrap">
         verbe :   <input type="text" name="verbe"  placeholder="GetRecords"></br></br>
         Identify : <input type="text" name="depuis" placeholder="oai:editors.coredu.fr:32734" ></br></br>
            <button class="button"><a href="/users/?verb=getrecord&identifier=oai:editors.coredu.fr:32734">Envoyer</button>
          <button class="button">Annuler</button>
    </div>
        
  </body>
 </html>